<div id="<%= dom_id customer %>">
  <p>
     <%= icon('fa-regular', 'user') %>
    <strong>Full name:</strong>
    <%= customer.full_name %>
  </p>

  <p>
     <%= icon('fa-regular', 'bell') %>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
     <%= icon('fa-regular', 'envelope') %>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

 
</div>
